.tab-active {
    z-index: 20;
    background: #191919;
    border-radius: 16px 16px 0 0;
    position: relative;
}

.tab-active::before,
.tab-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 16px;
    height: 16px;
    background: #00000000;
}

.tab-active::before {
    left: 0;
    transform: translateX(-100%);
    border-bottom-right-radius: 16px;
    box-shadow: 4px 4px 0 #191919;
}

.tab-active::after {
    right: 0;
    transform: translateX(100%);
    border-bottom-left-radius: 16px;
    box-shadow: -4px 4px 0 #191919;
}

.tab-inactive {
    border-radius: 16px 16px 0 0;
    position: relative;
}

.tab-inactive:hover::before,
.tab-inactive:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 16px;
    height: 16px;
    background: #00000000;
}

.tab-inactive:hover::before {
    left: -16px;
    border-bottom-right-radius: 16px;
    box-shadow: 4px 4px 0 rgba(25, 25, 25, 0.40);
}

.tab-inactive:hover::after {
    right: -16px;
    border-bottom-left-radius: 16px;
    box-shadow: -4px 4px 0 rgba(25, 25, 25, 0.40);
}
